docx==0.2.4
langchain==0.1.1
matplotlib==3.7.2
numpy==1.24.3
openai==1.8.0
pandas==2.0.3
scikit_learn==1.3.0
spacy==3.7.2
streamlit==1.30.0
tiktoken==0.5.2
transformers==4.32.1
streamlit
chromadb
llmsherpa
llama-index
#pipregs